<div class="add_card_block invite_new_user xs_size <%= can?(:set_role, @invite) ? 'with_permissions' : ''  %>">
  <h3 class="card_title">Invite User</h3>
  <%= form_for(@invite, remote: true) do |f| %>
    <%= f.hidden_field :resource_id %>
    <%= f.hidden_field :user_group %>
    <div class="form-group">
      <%= f.text_field :email, class: 'form-control', placeholder: 'Enter Email' %>
    </div>
    <% if can?(:set_role, @invite) %>
      <div class="radio sm_size">
        <div class="radio_title">
          SELECT PERMISSIONS
        </div>
        <div class="radio_item">
          <% if @invite.user_group == 'evo_team' %>
            <%= f.radio_button :role, :evo_super %>
          <% else %>
            <%= f.radio_button :role, :brand_super %>
          <% end %>
          <label for="<%= @invite.user_group == 'evo_team' ? 'invite_role_evo_super' : 'invite_role_brand_super' %>">SUPER USER
            <span>Team User, plus manage pipeline package and team settings </span>
          </label>
        </div>
        <div class="radio_item">
          <% if @invite.user_group == 'evo_team' %>
            <%= f.radio_button :role, :evo %>
          <% else %>
            <%= f.radio_button :role, :brand %>
          <% end %>
          <label for="<%= @invite.user_group == 'evo_team' ? 'invite_role_evo' : 'invite_role_brand' %>">TEAM USER
            <span>View startups, invite startups, add tags, create lists, save searches, see dashboard</span>
          </label>
        </div>
      </div>
    <% end %>
    <div class="add_card_btns clearfix">
      <%= link_to 'CANCEL', 'javascript:;', class: 'btn btn_default btn_gray btn_cancel_card' %>
      <%= f.button type: 'submit', class: 'btn btn_default btn_black btn_invite_card btn_loader' do %>
        <span>INVITE</span> <i class="icon icon_mark"></i>
        <%= render '/layouts/loader' %>
      <% end %>
    </div>
  <% end %>
</div>