<li class="dashboard__pane--label">
  <i style="<%= @startups_all_count > 0 ? 'background-color: #f66bb0;' : '' %>"></i>
  Evol8tion Curated <span id="segment-1" data-segment-1 = "<%= @evolution_total %>"><%= @evolution_total %></span>
</li>
<li class="dashboard__pane--label">
  <i style="<%= @startups_all_count > 0 ? 'background-color: #52586b;' : '' %>"></i>
  Founder Submitted <span id="segment-2" data-segment-2 = "<%= @founder_total %>"><%= @founder_total %></span>
</li>
<li class="dashboard__pane--label">
  <i style="<%= @startups_all_count > 0 ? 'background-color: #f0f0f0;' : '' %>"></i>
  The Watchlist <span id="segment-4" data-segment-4 = "<%= @startups_watclist_count %>"><%= @startups_watclist_count %></span>
</li>