<div class="dashboard__wrapper">
  <div class="dashboard__head">
    <div class="dashboard__head--title">
      Hi, <%= current_user.f_name %>. Welcome to Pipeline.
    </div>
    <div class="dashboard__head--desc">
      Check out the latest updates and activity.
    </div>
  </div><!-- .dashboard__head -->
  <div class="row">
    <div class="col-md-9">
      <%= render 'total_statistic' %>
      <div class="row">
        <div class="col-sm-6<%= @startups_evolution.empty? ? ' logos_empty_wrap' : ' logos_wrap' %>">
          <% if @startups_evolution.empty? %>
            <%= render 'dashboard/brand/evol8tion_curated_empty' %>
          <% else %>
            <%= render 'dashboard/brand/evol8tion_curated' %>
          <% end %>
        </div>
        <div class="col-sm-6<%= @startups_founder.empty? ? ' logos_empty_wrap' : ' logos_wrap' %>">
          <% if @startups_founder.empty? %>
            <%= render 'founder_submitted_empty' %>
          <% else %>
            <%= render 'founder_submitted' %>
          <% end %>
        </div>
      </div>
      <% unless @top_categories.empty? %>
        <%= render 'dashboard/brand/top_categories' %>
      <% end %>
      <% if @saved_searches.empty? %>
        <%= render 'saved_searches_empty' %>
      <% else %>
        <%= render 'saved_searches' %>
      <% end %>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-sm-4 col-md-12">
          <% if @m_mv.empty? %>
            <%= render 'dashboard/brand/m_mv_empty' %>
          <% else %>
            <%= render 'dashboard/brand/m_mv' %>
          <% end %>
        </div>
        <div class="col-sm-8 col-md-12">
          <% if @activities.empty? %>
            <%= render 'activities_empty' %>
          <% else %>
            <%= render 'activities' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
