<%= render 'startups/steps/top_panel' %>
<h1 class="h1_title"><%= question_title %></h1>
<div class="accordion_wizard no_step">
  <% if @startup.last_step? %>
    <div class="accordion_title">
      <span>Evol8tion team questions.</span>
      Answers are shared with Evol8tion team only
    </div>
  <% end %>
  <div class="panel-group" id="accordion">
    <% @brief_questions.each do |brief_question| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-target="#collapse<%= brief_question.id %>" href="#">
              <%= brief_question.alias.humanize.capitalize %>
              <i class="icon icon_arrow_right"></i>
            </a>
          </h4>
        </div>
        <div id="collapse<%= brief_question.id %>" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="test_help_text">
              <%= brief_question.content %>
            </div>
            <% if brief_question.single? || brief_question.multi? %>
              <div class="checkbox-group" data-up-to="<%= brief_question.up_to.to_i %>">
                <div class="btn-group btn_check_group" data-toggle="buttons">

                  <% brief_question_answers(brief_question).each do |answer| %>

                    <label class="btn btn_input_<%= brief_question.style %> <%= brief_question.checked?(answer, true) %> checkbox-answer">
                      <% if brief_question.single? %>
                        <%= render 'startups/brief/radio_buttons', brief_question: brief_question, answer: answer %>
                      <% else %>
                        <%= render 'startups/brief/checkboxes', brief_question: brief_question, answer: answer %>
                      <% end %>
                      <span>
                        <% if brief_question.with_icon? %>
                          <% if brief_question.wrap_icon? %>
                            <span class="btn_input_<%= brief_question.style %>_icon">
                              <i class="icon icon_<%= answer.category_value.icon_name %>"></i>
                            </span>
                          <% else %>
                            <i class="icon icon_<%= answer.category_value.icon_name %>"></i>
                          <% end %>
                        <% end %>
                        <%= answer.category_value.content %>
                      </span>
                    </label>
                  <% end %>
                </div>
              </div>
              <br/><br/><br/>
              <% if brief_question.detail? %>
                <%= text_area_tag "brief_answers[#{brief_question.id}][detail]", brief_question.detail_value,
                                  class: 'form-control',
                                  placeholder: 'please describe in details' %>
              <% end %>
            <% else %>
              <%= render 'startups/brief/text_field', brief_question: brief_question %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= render 'startups/steps/control_btns', f: f %>
</div>
