<div class="panel panel-default <%= 'hidden_item' unless index.zero? || current_user.active? %> <%= 'visited' if current_user.active? || !@answers[brief_question.alias].blank? %>" data-mandatory="<%= brief_question.mandatory? %>">
  <div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index %>" class="<%= 'collapsed' if current_user.active? %>">
        <% unless current_user.active? %>
          <i class="icon icon_circle"></i><i class="icon icon_circle_mark"></i>
        <% end %>
        <%= brief_question.alias.humanize.titleize %>
        <i class="icon icon_arrow_right"></i></a>
    </h4>
  </div>
  <div id="collapse<%= index %>" class="panel-collapse collapse <%= 'in' if index.zero? && !current_user.active? %>">
    <div class="panel-body">
      <div class="test_help_text">
        <%= brief_question.content %>
      </div>
      <div class="btn-group btn_check_group" data-toggle="buttons">
        <% brief_question_answers(brief_question).each do |answer| %>
          <%= render partial: StartupBriefSummary::UNIQUE_SINGLE_SELECTORS.include?(brief_question.alias) ? "/startups/setup-profile/#{brief_question.alias}" : '/startups/setup-profile/default_single_select',
                    locals: { brief_question: brief_question, answer: answer } %>
        <% end %>
      </div>
      <% if brief_question.detail %>
        <%= text_area_tag "answers[#{brief_question.id}][detail]", @answers[brief_question.alias].present? ? @answers[brief_question.alias][:detail] : nil, class: 'form-control textarea_mt', placeholder: 'Any other details you would like to share about your road map?', style: 'height: 91px;' %>
      <% end %>
      <% unless current_user.active? %>
        <div class="btn_step_holder control_nav_btns">
          <% unless index == @questions.count - 1 %>
            <%= link_to 'SKIP', "javascript:;", class:'btn btn_step btn_back skip', data: { disabled: false } unless brief_question.mandatory? %>
            <%= link_to 'NEXT', 'javascript:;', class: @answers[brief_question.alias].blank? ? "btn btn_step js_scroll disabled" : "btn btn_step js_scroll",
                                                data: { disabled: @answers[brief_question.alias].blank? ? true : false } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
