<div class="panel-body" data-progress-step="<%= brief_question.progress_step %>">
  <div class="test_help_text">
    Please, check 1
  </div>
  <div class="btn-group btn_check_group" data-toggle="buttons">
    <% brief_question.answers.each do |answer| %>
      <%= label_tag "brand_brief_summary[#{brief_question.id}][answer_id]", class: @answers[brief_question.alias].present? && @answers[brief_question.alias].include?(answer.id) ? "btn btn_input_simple active" : "btn btn_input_simple" do %>
        <%= radio_button_tag "brand_brief_summary[#{brief_question.id}][answer_id]", answer.id, @answers[brief_question.alias].present? && @answers[brief_question.alias].include?(answer.id), autocomplete: 'off'  %>
        <span><%= answer.category_value.content %></span>
      <% end %>
    <% end %>
  </div>
  <% if defined? f %>
    <div class="btn_step_holder">
      <% if index == @brief_questions.count - 1 %>
        <%= f.submit 'SUBMIT BRIEF', class: 'btn btn_step' %>
      <% else %>
        <%= link_to 'DONE', 'javascript:;', class: 'btn btn_step btn_done' %>
      <% end %>
    </div>
  <% end %>
</div>
