<div class="head_content hidden-xs">
  <h1 class="h1_title">User Activity</h1>
  <div class="subtitle">User actions within the Pipeline</div>
</div>
<div class="accordion_holder">
  <div class="panel-group">
    <% @user_activities.each do |user_activity| %>
      <div class="panel panel-default">
        <div role="button" class="slide_accordion collapsed">
          <div class="panel-heading clearfix">
            <span class="panel_img">
              <span class="panel_img_holder">
                <% if @user.photo? %>
                  <%= image_tag(@user.photo.thumb_medium) %>
                <% else %>
                  <%= image_tag('layout/user_mask.png', alt: "") %>
                <% end %>
              </span>
            </span>
            <div class="panel_info">
              <div class="panel_info_title">
                <%= activity_text(user_activity) %>
              </div>
              <div class="panel_info_name_date clearfix">
                <span class="panel_info_name">By <%= @user.full_name %></span>
                <span class="panel_info_date"><%= activity_time_at(user_activity.created_at) %></span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>