<% if @act.try(:diagnostic_type) %>
  <div class="head_content">
    <h1 class="h1_title bordered"><%= @act.diagnostic_type.title %></h1>
  </div>
  <div class="text_content">
    <div class="text_block">
      <h3 class="h3_title">USER RESULTS</h3>
      <%= @act.diagnostic_type.highlights %>
    </div>
    <div class="text_block">
      <h3 class="h3_title">INSIGHT</h3>
      <%= @act.diagnostic_type.description %>
    </div>
    <div class="graph_list_holder">
      <div class="graph_list_name">INNOVATION SPECTRUM</div>
      <ul class="graph_list">
        <% @diagnostic_types.each do |type| %>
          <% @active = false %>
          <% @user.insight_summaries.each do |summary| %>
            <% if type == summary.diagnostic_type %>
              <% @active = true %>
              <% @group_title = summary.insight_group.title %>
            <% end %>
          <% end %>
          <li class="<%= type.title.downcase %>_item <%= 'active' if @active %>"><%= type.title.upcase %>
            <span class="innovator_item_letter"><%= type.initial %></span>
            <% if @active %>
                <span class="innovator_item_additional">
                  <span class="hidden-xs hidden-sm"><%= @group_title %></span>
                </span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <!--<div class="text_block">-->
      <!--<h3 class="h3_title">WE RECOMEND</h3>-->
      <!--Digital ads are ignored. Influencer, advocate, and content marketing have quickly become staples in a marketing stack. There are no end-to-end solutions available for marketers that reduce overhead costs, time, and biased marketing analytics.-->
    <!--</div>-->
  </div>
<% else %>
  <div class="head_content">
    <h1 class="h1_title bordered">User hasn't passed innovation diagnostic yet</h1>
  </div>
<% end %>
