<%= form_for @scorecard_template, remote: true, html: { id: 'scorecard_template_form' } do |f| %>
  <div class="slide-panel-container">
    <div class="slide-panel-content slide-panel-content_pb">
      <ul class="step_name_list step_name_list_padd clearfix">
        <li class="pull-left name_main_step">TEMPLATE GENERATOR</li>
        <li>TEMPLATE</li>
        <li>Business Alignment</li>
        <li class="active">PREVIEW</li>
      </ul>

      <h1 class="h1_title">Template Preview</h1>
      <div class="subtitle">Review, edit, and save your scorecard template</div>

      <%= render 'partials/error_messages', resource: @scorecard_template, disable_titles: true %>

      <div class="grid_padding_sm form_container">
        <div class="grid_padding_exs">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="form-group has_hyphen">
                <label for="brand">Template Title</label>
                <div class="form-group">
                  <div class="custom_select" id="brand">
                    <%= f.select :brand_id, options_from_collection_for_select(brands_for_select, :id, :title, @scorecard_template.brand.try(:id)), { include_blank: 'Brand' }, { class: 'chosen-select', data: { placeholder: 'Brand' } } %>
                  </div>
                  <%= f.hidden_field :title_brand %>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-5 col-sm-5">
              <div class="form-group no_label_mt has_hyphen">
                <%= f.text_field :title_brief, class: 'form-control', placeholder: 'Brief'  %>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3">
              <div class="form-group no_label_mt">
                <div class="custom_select">
                  <%= f.select :title_year, DateTime.now.year.downto(DateTime.now.year-100).to_a,
                                            { include_blank: 'YYYY' },
                                            { class: 'chosen-select',
                                              data: { placeholder: 'YYYY' } } %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="template_preview">
          <h2 class="h2_title title_img">
            STARTUP SCORECARD
            <%= image_tag @scorecard_template.get_logo if @scorecard_template.get_logo.present? %>
          </h2>
          <div class="template_preview_inner">

            <div class="preview_block">
              <div class="row">
                <div class="col-sm-3 preview_block_left">
                  <div class="img_holder_outher img_holder_sm">
                    <div class="img_holder_inner">
                      <i class="icon icon_picture"></i>
                      <div>Startup Logo</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9 preview_block_right">
                  <h2>Startup Name</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  </p>
                  <p class="site_text">www.startupwebsite.com</p>
                </div>
              </div>
            </div>

            <div class="preview_block preview_block_vitals">
              <h3 class="bordered_title">VITALS</h3>
              <div class="row">
                <div class="col-sm-3 preview_block_left">
                  <div class="info_item">
                    <div class="info_item_title">
                      LOCATION
                    </div>
                    <p>Lorem ipsum dolor </p>
                  </div>
                  <div class="info_item">
                    <div class="info_item_title">
                      DATE FOUNDED
                    </div>
                    <p>mm yyyy</p>
                  </div>
                  <div class="info_item">
                    <div class="info_item_title">
                      DEVELOPMENT STAGE
                    </div>
                    <p>Lorem ipsum dolor consectetur</p>
                  </div>
                </div>
                <div class="col-sm-9 preview_block_right">
                  <div class="info_item">
                    <div class="info_item_title">
                      FUNDING STAGE
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed</p>
                  </div>
                  <div class="info_item">
                    <div class="info_item_title">
                      BRAND EXPERIENCE
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="info_item">
                        <div class="info_item_title">
                          <%= @scorecard_template.macro_categories_title.upcase %>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="info_item">
                        <div class="info_item_title">
                          <%= @scorecard_template.micro_categories_title.upcase %>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="preview_block preview_block_product">
              <h3 class="bordered_title">PRODUCT</h3>
              <div class="row">
                <%= render 'scorecard_templates/product_section',
                           section_type: @scorecard_template.ls_product_section_type %>
                <%= render 'scorecard_templates/product_section',
                            section_type: @scorecard_template.rs_product_section_type %>
              </div>
            </div>

            <div class="preview_block">
              <h3 class="bordered_title">SCORING</h3>
              <div class="row">
                <div class="col-lg-6">
                  <%= render 'partials/custom_graph' %>
                </div>
                <div class="col-lg-6 graph_desc">
                  <div class="custom_graph_values_list clearfix">
                    <div class="custom_graph_value_item">
                      <div class="custom_graph_value"><span>X</span>/10</div>
                      product<br> quality
                    </div>
                    <div class="custom_graph_value_item">
                      <div class="custom_graph_value"><span>X</span>/10</div>
                      CORPORATE<br> COLLABORATION
                    </div>
                    <div class="custom_graph_value_item">
                      <div class="custom_graph_value"><span>X</span>/10</div>
                      BUSINESS<br> ALIGNMENT
                    </div>
                  </div>
                  <div class="info_item">
                    <div class="info_item_title graph_title">
                      RECOMMENDATION:
                      <div>LOREM IPSUM DOLOR SIT AMET</div>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaec
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="powered_by">
            <span>POWERED BY</span> <%= image_tag 'layout/logo03.png', alt: 'Evol8tion' %>
          </div>
        </div>

      </div> <!-- slide-panel-content -->
    </div> <!-- slide-panel-container -->
  </div>

  <div class="bot_control_btns fixed_control_btns">
    <div class="row">
      <div class="col-xs-12 text-center more_control_btns">
        <%= button_tag type: 'submit', name: 'back_button', class: 'control_link' do %>
          <i class="icon icon_arrow_left"></i> BACK
        <% end %>
        <%= link_to 'CANCEL', cancel_scorecard_templates_path, remote: true, class: 'control_link' %>
        <%= button_tag 'SAVE TEMPLATE', type: 'submit', class: 'control_link' %>
      </div>
    </div>
  </div>
<% end %>
