<div class="right_block_content half_block_content">
  <div class="sign_up_form">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>
      <h3 class="sign_up_form_title">Change your password</h3>
      <div class="form_body form_body_padd_md">
        <div class="form-group">
          <%= f.password_field :password, class: 'form-control input_styled', placeholder: 'New password', autocomplete: 'off', autofocus: true %>
        </div>
        <div class="form-group form_body_padd_md">
          <%= f.password_field :password_confirmation, class: 'form-control input_styled', placeholder: 'Confirm new password', autocomplete: 'off' %>
        </div>
      </div>
      <%= f.submit 'CHANGE MY PASSWORD', class: 'btn btn_default btn_black' %>
    <% end %>
    <div class="sign_up_bot_text marg_top_lg">
      <%= render 'devise/shared/login' %>
    </div>
  </div>
</div>