<div class="panel panel-default">
  <div role="button" class="slide_accordion collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= question.id %>" aria-expanded="false" aria-controls="collapse<%= question.id %>">
    <div class="panel-heading clearfix" role="tab" id="heading<%= question.id %>">
      <span class="panel_img">
        <span class="panel_img_holder">
          <%= image_tag question.user.photo? ? question.user.photo.thumb_medium : 'layout/user_mask.png', alt: 'Avatar', width: 82 %>
        </span>
      </span>
      <div class="panel_info">
        <div class="panel_info_title">
          <%= auto_link(question.body, html: { target: '_blank', class: 'pink_link' }) %>
        </div>
        <div class="panel_info_name_date clearfix">
          <span class="panel_info_name"><%= "By #{ question.user.full_name }" %></span>
          <span class="panel_info_date"><%= question.created_at.strftime("%B #{question.created_at.day.ordinalize}, %Y %I:%M %p") %></span>
        </div>
      </div>
    </div>
  </div>
    <div id="collapse<%= question.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= question.id %>">
      <div class="panel-body">
        <% if question.answer.present? %>
          <div class="answer_block">
            <div class="answer_title hidden-xs">ANSWER</div>
            <div class="answer_date"><%= question.answer.created_at.strftime("%B #{question.created_at.day.ordinalize}, %Y %I:%M %p") %></div>
            <div class="answer_text">
              <%= auto_link(question.answer.body, html: { target: '_blank', class: 'pink_link' }) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <a href="#" class="close_accordion_item"><i class="icon icon_arrow_up"></i></a>
</div>
