<h1 class="h1_title">Customize Email Template</h1>
<div class="subtitle">This email will be sent to startups that brand users invite to join their pipeline.</div>

<div class="grid_padding_sm form_container">
  <div class="row">
    <div class="col-xs-12 block_for_upload">
      <%= f.hidden_field :logo_cache %>
      <%= f.fields_for :email_template do |email_template| %>
        <div class="default_upload_file_holder">
          <div class="default_upload_file lg_size apsolute <%= email_template.object.email_logo? ? 'active' : '' %>">
            <div class="inner email-logo-preview-image">
              <%= email_template.object.email_logo? ? image_tag(email_template.object.email_logo, style: image_style(email_template.object)) : ''  %>
              <%= email_template.file_field :email_logo, class: 'upload_img email-logo-image-input' %>
              <%= email_template.hidden_field :email_logo_cache %>
            </div>
            <div class="progress_holder" id="upload_step" style="display:none;">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                  <span class="sr-only"></span>
                </div>
              </div>
              <div class="progress_text">uploading</div>
            </div>
            <div class="upload_text visible_before"><i class="icon icon_arrow_up_round"></i>
              ADD LOGO
            </div>
            <div class="upload_text visible_after"><i class="icon icon_arrow_up_round"></i>
              CHANGE IMAGE
            </div>
          </div>
          <div class="change_img_text" id="email_logo">
            <span>Change image</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 col-sm-12">
            <div class="form-group color_field">
              <div>
                <%= email_template.text_field :email_color, class: 'form-control picked_color', placeholder: 'Enter color' %>
              </div>
              <div class="element_change_color" style="<%= email_template.object.email_color ? "background-color: #{email_template.object.email_color}" : '' %>"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <%= email_template.text_area :copy_for_email, class: 'form-control textarea_sm_size',
                                           placeholder: "Type your copy here or leave field empty. By default will be used: #{EmailTemplate::DEFAULT_TEXT}" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>